.todo-item {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
}

/* Container para os botões */
.todo-item_actions{
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-item_edit{
  order: 1;
  color: blue;
  width: 10px;
  width: fit-content;
}

.todo-item_delete {
  order: 2;
  margin-left: 10px;
  width: 10px;
  width: fit-content;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
}


.todo-item_content {
  display: flex;
  align-items: baseline;
  gap: rem;
  margin-right: 1rem;
}

.todo-item_content label {
  font-size: 0.85rem;
  cursor: default;
  user-select: none;
}

.todo-item_content input[type="checkbox"] {
  margin-right: 0.7rem;
  cursor: pointer;
  accent-color: #B5B5BA;
}

.todo-item_content label.completed {
  color: #B5B5BA;
  text-decoration: line-through;
}





.fa-trash-alt:hover {
  color: rgba(65, 63, 63, 0.62);
}
