<div class="todo-container">
  <div class="todo-form">
    <app-new-task [todoToEdit]="todoToEdit"></app-new-task>
  </div>

  <div class="todo-buttons">
    <button class="toggle-button" (click)="toggleCompletedTasks()">
      {{ showCompletedTasks ? 'Ocultar Tarefas Concluídas' : 'Exibir Tarefas Concluídas' }}
    </button>
    <button (click)="clearCompletedTasks()">Limpar Tarefas Concluídas</button>
    <button (click)="clearAll()" [innerHTML]="labelClearAll"></button>
    
    <!-- Novo Botão; feat: botão ordenar lista -->
    <button (click)="sortTodosByTitle()">Ordenar de A–Z</button>

  </div>


  <!--A rolagem será ativada aqui -->
  <div class="todo-list_container">
    <div class="todo-list_todo">
      <app-todo-item 
      *ngFor="let todo of todos"
       [todo]="todo"
       (editTodo)="onEditTodo($event)"
       (deletedTodo)="loadTodos()"></app-todo-item>
    </div>
  </div>
</div>
